body {
    text-align: center;
    margin-top: 10%;
}
#timer {
    font-size: 80px;
}
button {
    width: 100px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: aquamarine;
    transition: 0.5s;
}
button:hover {
    background-color: aqua;
}